<h1>Admin Dashboard</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Product Count</h5>
          <p class="card-text"><%= @product_count %></p>
          <%= link_to "View Product List", admin_products_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Category Count</h5>
          <p class="card-text"><%= @category_count %></p>
          <%= link_to "View Category List", admin_categories_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
